Package: com.ipadkid.unfairplay
Name: UnfairPlay
Version: 0.0.1
Architecture: iphoneos-arm
Description: Decrypt apps on Electra
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: System
Tag: role::hacker
